<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  
    <bean id="agent0-session1" class="org.drools.mas.core.DroolsAgentConfiguration$SubSessionDescriptor">
        <constructor-arg value="session47"/>
        <constructor-arg value="sub1.xml"/>
        <constructor-arg value="local"/>
        <constructor-arg>
            <map>
                <entry key="session1GlobalString">
                    <ref local="stringBean1"/>
                </entry>
            </map>
        </constructor-arg>
    </bean>  
    
    <bean id="stringBean1" class="java.lang.String">
            <constructor-arg value="TeSt StRiNg"/>
    </bean>
    
    <bean id="agent0-session2" class="org.drools.mas.core.DroolsAgentConfiguration$SubSessionDescriptor">
        <constructor-arg value="session83"/>
        <constructor-arg value="sub2.xml"/>
        <constructor-arg value="local"/>
    </bean>  
    

    <bean id="agent1-configuration" class="org.drools.mas.core.DroolsAgentConfiguration">
        <property name="agentId" value="Agent 0"/>
        <property name="changeset" value="mainTestAgent_changeset.xml" />
        <property name="responseInformer" value="org.drools.mas.mock.MockResponseInformer"/>
        <property name="mindNodeLocation" value="local"/>
        <property name="port" value="7001"/>
        <property name="globals">
            <map>
                <entry key="globalString" value="GlObAl StRiNg"/>
            </map>
        </property>
        <property name="subSessions">
            <list>
                <ref local="agent0-session1"/>
                <ref local="agent0-session2"/>
            </list>
        </property>
    </bean>
  
    <bean id="agent-factory" class="org.drools.mas.core.DroolsAgentFactory" factory-method="getInstance" />
  
    <bean id="agent" class="org.drools.mas.core.DroolsAgent" factory-bean="agent-factory" factory-method="spawn" destroy-method="dispose">
        <constructor-arg ref="agent1-configuration"/>
    </bean>

</beans>
